// ===== FONT GOOGLE =====
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

// ===== VARIABLE CSS =====
// header height
$header-height: 6rem;

// color palette
$black-color: #0b1b35;
$grey-color: #72747a;
$white-color: #fff;
$green-color: #08a87b;
$yellow-color: #fb9333;
$red-color: #fc526a;

// font body
$font-body: "Poppins", sans-serif;

// font weight
$font-reguler: 400;
$font-medium: 500;
$font-semibold: 600;
$font-bold: 700;

// margin
$margin-0-5: 0.5rem;
$margin-1: 1rem;
$margin-1-5: 1.5rem;
$margin-2: 2rem;
$margin-2-5: 2.5rem;
$margin-3: 3rem;
$margin-3-5: 3.5rem;
$margin-4: 4rem;

// z-index
$z-back: -10;
$z-normal: 1;
$z-tooltip: 10;
$z-fixed: 100;

// transition
$transition-400: 0.4s;

// line-height
$leading-title: 140%;
$leading-text: 180%;

// ===== BASE & RESET =====
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: $font-body;
  font-weight: $font-medium;
}

h1,
h2,
h3,
h4 {
  font-weight: $font-bold;
  color: $black-color;
}

a,
li {
  list-style: none;
  text-decoration: none;
}

button,
input {
  font-family: $font-body;
  font-weight: $font-medium;
  outline: none;
  border: none;
}

img {
  max-width: 100%;
  height: auto;
}

// ===== REUSABLE CSS CLASS =====
.section {
  padding: 6rem 0 3rem;

  &-subtitle {
    display: block;
    font-size: 18px;
    font-weight: $font-bold;
    text-transform: uppercase;
    letter-spacing: 5px;
    text-align: center;
    margin-bottom: 10px;
  }

  &-title {
    font-size: 24px;
    font-weight: $font-bold;
    color: $black-color;
    text-align: center;
  }
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 2rem;
  border-radius: 1rem;
  font-size: 15px;
  font-weight: $font-semibold;
  transition: $transition-400;

  &-fill {
    background-color: $green-color;
    color: $white-color;

    &:hover {
      background-color: #07946c;
    }
  }
}

.container {
  max-width: 968px;
  width: calc(100% - 3rem);
  margin: 0 $margin-1-5;
}

.grid {
  display: grid;
}

.main {
  overflow: hidden;
}

// ===== HEADER SECTION =====
.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background-color: $white-color;
  z-index: $z-fixed;
  transition: $transition-400;

  &__container {
    height: 6rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__logo {
    display: inline-flex;
    align-items: center;
    gap: 5px;
    font-size: 20px;
    font-weight: $font-bold;
    color: $black-color;

    &-icon {
      width: 45px;
    }
  }

  &__menu {
    @media screen and (max-width: 767px) {
      position: fixed;
      width: 80%;
      top: 7rem;
      left: 0;
      right: 0;
      margin: 0 auto;
      text-align: center;
      padding: 2rem;
      background-color: #fafafa;
      border-radius: 1.5rem;
      box-shadow: 0 0 12px rgba(0, 0, 0, 0.1);
      transition: $transition-400;
      opacity: 0;
      transform: scaleY(0);
      transform-origin: 0% 0%;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  &__link {
    font-size: 15px;
    color: $grey-color;

    &.active-link {
      position: relative;
      font-weight: $font-semibold;
      color: $green-color;
    }
  }

  &__button {
    margin-top: 1.5rem;
  }

  &__toggle {
    display: inline-flex;
    font-size: 1.5rem;
    color: $black-color;
    cursor: pointer;
  }

  // SHOW MENU
  .show-menu {
    opacity: 1;
    transform: scaleY(1);
  }
}

// ===== HOME SECTION =====
.home {
  padding: 7rem 0 3rem;

  &__container {
    gap: 3rem;
    justify-items: center;
  }

  &__data {
    text-align: center;
  }

  &__title {
    font-size: 26px;
    line-height: $leading-title;
    margin-bottom: 1rem;
  }

  &__text {
    font-size: 15px;
    color: $grey-color;
    line-height: $leading-text;
    margin-bottom: 2rem;
  }

  &__buttons {
    display: inline-flex;
    align-items: center;
    gap: 1rem;

    &-learn {
      display: inline-flex;
      align-items: center;
      gap: 5px;
      font-size: 15px;
      font-weight: $font-semibold;
      color: $black-color;
    }

    &-icon {
      font-size: 1.5rem;
      color: $yellow-color;
    }
  }
}

// ===== SERVICE SECTION =====
.service {
  &__container {
    gap: 3rem;
  }

  &__subtitle {
    color: $green-color;
  }

  &__group {
    display: grid;
    justify-content: center;
    gap: 2rem;
  }

  &__item {
    width: 300px;
    display: grid;
    gap: 2rem;
    padding: 3rem 2rem;
    border: 1.5px solid rgba($color: #72747a, $alpha: 0.3);
    border-radius: 2rem;
    transition: $transition-400;

    &:hover {
      border-color: $white-color;
      box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
    }

    &-icon {
      width: 100px;
    }

    &-title {
      font-size: 18px;
      margin-bottom: 10px;
    }

    &-text {
      font-size: 15px;
      color: $grey-color;
      line-height: $leading-text;
      margin-bottom: 2rem;
    }

    &-button {
      display: inline-flex;
      background-color: transparent;
      color: $black-color;

      &:hover {
        color: $white-color;
      }
    }
  }
}

// ===== FEATURE SECTION =====
.feature {
  &__container {
    gap: 3rem;
  }

  &__data {
    text-align: center;
  }

  &__title {
    margin-bottom: 1rem;
  }

  &__text {
    font-size: 15px;
    color: $grey-color;
    line-height: $leading-text;
    margin-bottom: 1rem;
  }

  &__group {
    gap: 1rem;
    justify-self: center;
    margin-bottom: 2rem;
  }

  &__item {
    display: inline-flex;
    align-items: center;
    gap: 10px;
    font-size: 15px;
    color: $grey-color;

    &-icon {
      display: inline-flex;
      align-items: center;
      font-size: 1rem;
      color: $white-color;
      padding: 0.3rem;
      background-color: $green-color;
      border-radius: 50%;
    }
  }

  &__button {
    display: inline-flex;
    justify-self: center;
  }

  &__img {
    justify-self: center;
  }
}

// ===== EMAIL SECTION =====
.email {
  &__container {
    gap: 3rem;
    padding: 5rem 2.5rem 0;
    background-color: rgba($color: #08a87b, $alpha: 0.1);
    border-radius: 2rem;
  }

  &__data {
    text-align: center;
  }

  &__title {
    margin-bottom: 1rem;
  }

  &__text {
    font-size: 15px;
    color: $grey-color;
    margin-bottom: 2rem;
  }

  &__button {
    display: inline-flex;
    background-color: $yellow-color;
  }

  &__img {
    justify-self: center;
  }
}

// ===== TEAM SECTION =====
.team {
  &__container {
    gap: 3rem;
  }

  &__subtitle {
    color: $yellow-color;
  }

  &__group {
    display: grid;
    justify-content: center;
    gap: 2rem;
  }

  &__item {
    width: 230px;
    display: grid;
    gap: 2rem;

    &-img {
      width: 100px;
      justify-self: center;
    }

    &-data {
      text-align: center;
    }

    &-name {
      font-size: 18px;
      font-weight: $font-bold;
      color: $black-color;
      margin-bottom: 10px;
    }

    &-profession {
      font-size: 15px;
      color: $grey-color;
      margin-bottom: 1rem;
    }

    &-socials {
      display: inline-flex;
      align-items: center;
      gap: 1rem;
    }

    &-link {
      display: inline-flex;
      font-size: 1.5rem;
      color: $green-color;
    }
  }
}
